/* body {
  background-color: orange;
}

.header {
  background-color: #f8e9c5;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-left: 10%;
  font-size: larger;
}

h1 {
  font-family: serif;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: #f8e9c5;
  padding: 5px 10px;
  border: 5px solid orange;
  color: orange;
  text-shadow: 2px 3px 5px #5b5b5b;
}

.btnContact {
  padding: 30px;
}

.App {
  background-color: orange;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.a {
  padding-left: 10%;
}

h3 {
  font-family: sans-serif;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-left: 35%;
  text-shadow: 4px 2px 3px #5b5b5b;
  text-decoration: underline;
}

p {
  font-family: sans-serif;
  font-size: 30px;
  margin-left: 35%;
}

.btns {
  display: flex;
  flex-direction: column;
}
button {
  height: 4em;
  width: 12em;
  margin-left: 40%;
  margin-bottom: 2em;
  margin-top: 1em;
  background-color: #f8e9c5;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #695c4a;;
  color: orange;
  font-weight: 900;
  text-decoration: underline;
  cursor: pointer;
}

.foto1 {
  background-image: url(./images/foto1.png);
  border-radius: 5px;
  box-shadow: 5px 3px 5px;
  margin: 20px 80px;
  min-height: 34vh;
  min-width: 24vw;
}

.foto2{
  background-image: url(./images/foto2.png);
  border-radius: 5px;
  box-shadow: 5px 3px 5px;
  margin: 20px 80px;
  min-height: 34vh;
  max-width: 13vw;
} */

---------------------------------------------------------------------------------------


body {
  background-color: orange;

}

.header {
  background-color: #f8e9c5;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-left: 10%;
  font-size: larger;
}

h1 {
  background: linear-gradient(to right, white,  #eed08c);
  color: orange;
  border: 5px solid orange;
  font-family: serif;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 5px 10px;
  text-shadow: 2px 3px 5px #5b5b5b;
}

.btnContact {
  background-image: url(../../images/iconoContact.png);
  border-radius: 5px;
  box-shadow: 5px 3px 5px black;
  cursor: pointer;
  margin: 2em;
  max-height: 2vh;
  padding: 30px;
}

.btnContact:hover {
  opacity: 50%;
}

.uno {
  background: linear-gradient(to right, rgb(237, 184, 86), orange); 
  display: flex;
  justify-content: space-around;
}

.foto1 {
  background-image: url(../../images/foto1.png);
  border-radius: 5px;
  box-shadow: 5px 3px 5px;
  margin: 20px 80px;
  min-height: 34vh;
  min-width: 24vw;
}

h3 {
  font-family: sans-serif;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-left: 35%;
  text-shadow: 4px 2px 3px #5b5b5b;
  text-decoration: underline;
}

p {
  font-family: sans-serif;
  font-size: 30px;
  margin-left: 35%;
}


.btns {
  /* display: flex;
  flex-direction: column;
  background: linear-gradient(to right, rgb(237, 184, 86), orange);  
  display: flex;
  justify-content: space-around; */
  top: -20px;
  left: 0;
  color: white;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}

button {
  height: 4em;
  width: 12em;
  margin-left: 40%;
  margin-bottom: 2em;
  margin-top: 1em;
  background-color: #f8e9c5;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #695c4a;;
  color: orange;
  font-weight: 900;
  text-decoration: underline;
  cursor: pointer;
}

button:hover {
  background-color: rgb(180, 234, 180);
}

.foto2 {
  background-image: url(../../images/foto2.png);
  border-radius: 5px;
  box-shadow: 5px 3px 5px;
  min-height: 26vh;
  min-width: 9vw;
  margin: 1.4em;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.tres {
  background: linear-gradient(to right, rgb(237, 184, 86), orange); 
  display: flex;
  justify-content: space-around;
  min-height: 5vh;
}